/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}
/*===== Colores =====*/
:root{
    --second-color: #E55947;
    --second-color-alt: #D2321E;
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --gray-color: #F0F1F3;
}
/*===== Fuente y tipografia =====*/
:root{
    --body-font: 'Open Sans', sans-serif;

    --big-font-size: 3rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;

    @media screen and (min-width: 1024px){
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    }
}
/*===== Margenes =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}
/*===== z index =====*/
:root{
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--dark-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    max-width: 100%;
    height: auto;
}

/*===== CLASS CSS ===== */
.section{
    padding: 3rem 0;

    &-title{
        font-size: var(--h2-font-size);
        color: var(--dark-color);
        margin: var(--mb-4) 0 var(--mb-1);
        text-align: center;
    }
    &-all{
        display: block;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi);
        color: var(--dark-color-light);
        text-align: center;
        margin-bottom: var(--mb-2);

        &:hover{
            text-decoration: underline;
        }
    }
}

/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--gray-color);
}

/*===== NAV =====*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu{
        @media screen and (max-width: 768px){
            position: fixed;
            top: var(--header-height);
            right: -100%;
            width: 80%;
            height: 100%;
            padding: 2rem;
            background-color: var(--white-color);
            transition: .5s;
        }
    }
    &__item{
        margin-bottom: var(--mb-4);
    }
    &__link{
        color: var(--dark-color);
        font-weight: var(--font-semi);

        &:hover{
            color: var(--second-color);
        }
    }
    &__logo{
        font-weight: var(--font-bold);
    }
    &__cart{
        font-size: 1.5rem;
        margin-right: var(--mb-2);
    }
    &__toggle{
        font-size: 1.5rem;
        cursor: pointer;
    }
}

/*=== Show menu ===*/
.show{
    right: 0;
}
.active-link{
    color: var(--second-color);
}

/*===== HOME =====*/
.home{
    position: relative;
    background-color: var(--gray-color);
    
    &__container{
        height: calc(100vh - var(--header-height));
    }
    &__data{
        padding-top: 6rem;
    }
    &__title{
        align-self: center;
        font-size: var(--big-font-size);
        line-height: 1;
        letter-spacing: .5rem;
        margin-bottom: 4rem;

        & span{
            font-size: var(--h1-font-size);
        }
    }

    &__img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 260px;
        padding-bottom: 15em;
    }
}

/*BUTTONS*/
.button{
    display: inline-block;
    background-color: var(--second-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    transition: .3s;

    &:hover{
        background-color: var(--second-color-alt);
    }
}

/*===== COLLECTION =====*/
.collection{
    &__container{
        grid-template-rows: repeat(2, 174px);
        row-gap: 2rem;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        background-color: var(--gray-color);
        transition: .3s;

        &:hover{
            transform: translateY(-.5rem);
        }
    }
    &__img{
        width: 90px;
        align-self: flex-end;
    }
    &__title{
        font-size: var(--h1-font-size);
        line-height: 1.2;
        margin-bottom: var(--mb-2);
        text-transform: uppercase;
        font-weight: var(--font-semi);
    }
    &__subtitle{
        font-size: var(--h2-font-size);
        color: var(--dark-color-light);
    }
    &__view{
        font-size: var(--small-font-size);
        color: var(--dark-color-light);

        &:hover{
            text-decoration: underline;
        }
    }
}

/*===== FEATURED PRODUCTS =====*/
.featured{

    &__container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
    }
    &__product{
        transition: .3s;

        &:hover{
            transform: translateY(-.5rem);
        }
    }
    &__box{
        height: 305px;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--gray-color);
    }
    &__new{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--second-color);
        color: var(--white-color);
        padding: .3rem .75rem;
        font-size: var(--small-font-size);
    }
    &__data{
        text-align: center;
    }
    &__name{
        margin-bottom: var(--mb-1);
        text-transform: uppercase;
        font-size: var(--normal-font-size);
    }
    &__price{
        color: var(--dark-color-light);
        font-weight: var(--font-semi);
    }
}

/*===== OFFER =====*/
.offer{
    &__bg{
        background: url('/assets/img/offer.jpg') no-repeat center/cover;
        text-align: center;
    }
        
    &__data{
        padding: 3.5rem .25rem;
        background: rgba(0, 0, 0, .5);
        color: var(--white-color);
    }
    &__title{
        font-size: var(--h1-font-size);
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-weight: var(--font-semi);
    }
    &__description{
        margin-bottom: var(--mb-2);
        letter-spacing: .2rem;
    }
}

/*===== NEW ARRIVALS =====*/
.new{
    &__container{
        row-gap: 2rem;
    }
    &__box{
        height: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        background-color: var(--gray-color);
        overflow: hidden;

        &:hover .new__link{
            bottom: 0;
        }
    }
    &__link{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(229, 89, 71, 0.2);
        transition: .3s;
    }
}

/*===== NEWSLETTER =====*/
.newsletter{
    text-align: center;

    &__description{
        margin-bottom: var(--mb-2);
        font-size: var(--small-font-size);
        color: var(--dark-color-light);
    }

    &__form{
        display: grid;
        grid-template-columns: 1fr .5fr;
    }
    &__input{
        outline: none;
        border: none;
        background-color: var(--gray-color);
        padding: 0 1rem;
    }
}

/*===== SPONSORS =====*/
.sponsors{
    &__container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        padding: 1.5rem 0;
    }
    &__logo{
        display: flex;
        justify-content: center;

        & img{
            width: 80px;
            filter: opacity(70%);

            &:hover{
                filter: none;
            }
        }
    }
}

/*===== FOOTER =====*/
.footer{
    background-color: var(--dark-color);
    color: var(--white-color);

    &__container{
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 1.5rem;
        margin-bottom: var(--mb-4);
    }
    &__title{
        margin-bottom: var(--mb-1);
    }
    &__deal{
        margin-bottom: var(--mb-2);
    }
    &__store{
        width: 100px;
    }
    &__link, &__social{
        color: var(--dark-color-light);
        
        &:hover{
            text-decoration: underline;
        }
    }
    &__social{
        font-size: 1.3rem;
        margin-right: var(--mb-1);
    }
    &__copy{
        border-top: 1px solid var(--dark-color-light);
        padding-top: 3rem;
        text-align: center;
        color: var(--dark-color-light);
        font-size: var(--small-font-size);
    }
}

/* ===== MEDIA QUERIES=====*/
@media screen and(min-width: 568px){
    .home{
        &__data{
            padding: 0;
            align-self: center;
        }
        &__title{
            line-height: .8;
            letter-spacing: 1.2rem;
        }
        &__img{
            width: 300px;
        }
    }

    .collection__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 174px;
    }

    .new{
        &__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .newsletter__form{
        width: 400px;
        margin: 0 auto;
    }

}


@media screen and(min-width: 768px){
    body{
        margin: 0;
    }
    .section-all{
        margin-bottom: var(--mb-4);
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
        justify-content: initial;

        &__menu{
            margin-left: auto;
        }

        &__list{
            display: flex;
        }
        &__item{
            margin-left: var(--mb-4);
            margin-bottom: 0;
        }
        &__toggle{
            display: none;
        }
    }

    .home{
        &__container{
            height: 100vh;
            grid-template-columns: repeat(2, 1fr);
        }

        &__data{
            justify-self: flex-end;
        }

        &__img{
            position: initial;
            width: 370px;
            align-self: flex-end;
        }
    }

    .collection{
        grid-template-rows: 204px;

        &__box{
            padding: .5rem  3rem 0;
        }
    }

    .sponsors__container{
        grid-template-columns: repeat(4, 1fr);
    }

    .offer{
        &__data{
            padding: 5rem 0;
        }
    }

    .new{
        &__container{
            grid-template-columns: repeat(3,1fr);
        }
    }

    .footer__container{
        padding: 2rem 0;
    }

}

@media screen and(min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    
    .home__container{
        column-gap: 10rem;
    }

    .collection{
        &__container{
            grid-template-rows: 238px;
        }
        &__img{
            width: 130px;
        }
    }
}

/* Measurements for small devices */
@media screen and (max-width: 321px){
    .home{
        &__img{
            width: 198px;
        }
    }
    .collection__img{
        width: 80px;
    }
    .newsletter__form{
        grid-template-columns: 60% 40%;
    }
}


/* For large screens */
@media screen and (min-height: 720px){
    .home__container{
        height: 640px;
    }
}

.hidden {
    display: none;
  }


